.pypirc
pip-selfcheck.json
# Python stuff
*.py[cod]

# IDE stuff
.idea/
*.iml
.vscode/

# Python venv stuff
bin
lib
pyvenv.cfg
venv/
.venv/

# Folders
dist/
build/

# Python setuptools
.cache
*.egg-info

# Unit test / coverage reports
.coverage
.tox
.pytest_cache/

# Emacs backup files
*~

# misc
.DS_Store
